:root {
    /* max-width: 1280px; */

    --primary-color: #141b2d;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-family: 'Source Sance Pro', sans-serif;
    background: #141b2d;
  }
  
  .container {
    position: relative;

  }

  .section {
    background-color: var(--primary-color);
    display: flex;
  
    /* @media (max-width: 700px) {
       padding: 10px;
     } */
  }
  
  .card {
    padding: 2em;
    background-color: #888;
  }
  
  .step-editor {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar {
    height: 100vh;
    background: white;
    top: 0;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 2em;
    gap: 1em;

    @media (max-width: 700px) {
       max-width: 100%;
    }
  }


  
  .left-sidebar {
    left: 0;
  }
  
  .right-sidebar {
    right: 0;
    position: relative;
    /* display: flex;
    flex-direction: column; */
  }
  
  .tab-button-selected {
    font-weight: bold !important;
    transition: background 0.3s ease-in-out;
  }
  .tab-button {
    border-color: none !important;
    color: rgb(43, 42, 42);
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  
  .tab-button:hover {
    color: #4fb9af;
    background: none !important;
    border-color: none !important;
  }
  
  .tabs-content {
    flex-grow: 1;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2em;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }
  
  .opaque-background {
    background: rgb(20, 27, 45, 0.7);
  }
  
  .form-label {
    display: inline-block;
    width: 200px;
  }
  